/* Heading Stripes */

.stripe {
  width: 60px;
  height: 2px;
}

.stripe_left {
  background: linear-gradient(to right, #ffffff00, #ffffff);
}

.stripe_right {
  background: linear-gradient(to left, #ffffff00, #ffffff);
}

@media screen and (min-width: 600px) {
  .stripe {
    width: 100px;
  }
}
