.recipe_filter {
  position: relative;
}

/* Underline */
.recipe_filter::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  border-bottom: 1px solid black;
  transition: width 300ms ease;
}

.hover_cursor:hover {
  cursor: pointer;
}

.recipe_filter:hover::after {
  width: 100%;
}

.icon {
  font-size: 2rem;
}

.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.hover-blue:hover {
  color: blue;
}

.hover-red:hover {
  color: red;
}

.hover-grey:hover {
  color: grey;
}
